{{ ansible_managed | comment }}
bind {{ redis_sentinel_bind }}
port {{ redis_sentinel_port }}
sentinel monitor {{ redis_sentinel_monitor.name }} {{ redis_sentinel_monitor.host }} {{ redis_sentinel_monitor.port }} {{ redis_sentinel_monitor.quorum|d('2') }}
sentinel auth-pass {{ redis_sentinel_monitor.name }} {{ redis_masterauth_password }}
sentinel auth-user {{ redis_sentinel_monitor.name }} {{ redis_masteruser }}
sentinel down-after-milliseconds {{ redis_sentinel_monitor.name }} 10000
logfile {{ redis_sentinel_logfile }}